/* src/styles/dashboard.css */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.MuiDrawer-paper {
    background-color: #1e1e2d;
    color: white;
}

.MuiListItemIcon-root {
    color: white;
}
